 {% if page.image %}
    {% assign intro_image = page.image.path | default: page.image %}
    {% unless intro_image contains '://' %}
      {% assign intro_image = intro_image | relative_url %}
    {% endunless %}
    {% assign intro_image = intro_image | escape %}
    <div class="intro-image">
      <img src="{{ intro_image }}" alt="{{ page.title }}">
    </div>
  {% endif %}


<!-- Open Graph Tags -->
    <meta property="og:type" content="article" />
	<meta property="og:title" content="{page.alt_title | default: page.title | default: site.title | markdownify | strip_html }"/>
    <meta property="og:image" content="{{ intro_image }}"/>
    <meta property="og:site_name" content="{site.title}"/>
	{% if page.description%}
    <meta property="og:description" content="{page.description}"/>
	{% endif %}
	<meta property="article:author" content="https://www.facebook.com/mewldap" />
	<meta property="article:publisher" content="https://www.facebook.com/bestbrickboss/" />

	  
	<meta property="og:url" content="{{site.url}}{{ page.url }}" />
	